{% extends 'layout.html' %}
{% block head %}
<title>New Star Cinplex</title>

<style>
    body {
        background-color:#fafafa;
      }

    ul {
        list-style: none;
        padding-left: 0;
    }
    .alignMe p {
        display: inline-block;
        width: 30%;
        position: relative;
        padding-right: 5px; 
        margin-bottom: 5px;
    }

    .alignMe p::after {
        content: ":";
        position: absolute;
        right: 10px;
    }

    .qr-row img {
        width: 40%;
    }
        

   
</style>


{%endblock%}

{%block body%}
<div class="container mx-auto">
    <div class="container mt-5 d-flex justify-content-center">
            <div class="card w-50">
                <div class="card-header d-flex justify-content-center" style="background-color: white;">
                    <div class="row qr-row d-flex justify-content-center">
                        <img src="" id="qr-code" alt="qr-code" width="40%">
                        <div class="row">
                            <p class="fs-6">Please scan the qr code to print the ticket in NSC.</p>        
                        </div>
                    </div>
                </div>
                <div class="card-body mx-2" id="capture">
                    <p class="fw-bold" style="font-size: 18px;">Detail Transaksi</p>
                    <ul class="alignMe">
                        <li><p style="font-size: 14px;">Date</p><span id="tanggal_booking"></span></li>
                        <li><p style="font-size: 14px;">Booking Code</p><span id="id_booking"></span> </li>
                        <li><p style="font-size: 14px;">Judul Film</p><span id="title"></span></li>
                        <li><p style="font-size: 14px;">No. Seat</p><span id="no_seat"></span></li>
                        <li><p style="font-size: 14px;">Showtimes</p><span id="movie-time"></span></li>
                        <li><p style="font-size: 14px;">Drink</p><span id="drink"></span></li>
                        <!-- <li><p style="font-size: 14px;">Reedemed Time</p> 09-03-2022 11:54</li> -->
                    </ul>
                    <hr class="hr">
                    <div class="row">
                        <div class="col">
                            <p class="fs-6 fw-bold">Total Payment</p>
                        </div>
                        <div class="col text-end">
                            <div class="fs-6 fw-bold" id="total-price"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary w-100" id="btn-download">Download</button>
                </div>
            </div>
        </div>
        
    </div>
</div>


{%endblock%}

{%block scripts%}
<script src="https://cdn.jsdelivr.net/npm/html2canvas@0.5.0-beta4/dist/html2canvas.min.js"></script>
<script>
    let id_booking;
    $(document).ready(function() {
        const urlParams = new URLSearchParams(window.location.search);
        // id_booking = urlParams.get('booking_id');
        id_booking = urlParams.get('order_id');
        booking_data()


        $('#btn-download').on('click', function() {
            $('.card-footer').addClass('visually-hidden')
            html2canvas($('.card')[0]).then(function(canvas) {
                var link = document.createElement('a');
                link.download = 'transaction_'+id_booking+'.png';
                link.href = canvas.toDataURL();
                link.click();
            });
            $('.card-footer').removeClass('visually-hidden')
        });
    });

    const formatRupiah = (amount) => {
        return amount.toLocaleString('id-ID', { style: 'currency', currency: 'IDR' });
    };

    let booking_data = () => {
        fetch('http://127.0.0.1:4000/get-transaction/'+id_booking, {method: 'POST'})
          .then(response => {
              if (!response.ok) {
                  throw new Error('Terjadi kesalahan saat mengirim data.');
              }
              return response.json();
          })
          .then(data => {
                const bookingDetail = data.booking_detail[0];
                let imageURL = "static/images/qrcode/temp_qr_"+bookingDetail.id_booking+".png"
                console.log(imageURL)
                let date = new Date(bookingDetail.tanggal_booking)
                let month = date.toLocaleString('default', { month: 'short' });


                $('#tanggal_booking').text(`${date.getDate()}-${month}-${date.getFullYear()}`)
                $('#id_booking').text(bookingDetail.id_booking);
                $('#title').text(bookingDetail.title)
                $('#movie-time').text(bookingDetail.jam)
                $('#total-price').text(formatRupiah(bookingDetail.total));
                $('#qr-code').attr('src', imageURL);
                $('#drink').text(formatRupiah(bookingDetail.minuman));

                const noSeats = bookingDetail.no_seat.join(', '); // Menggabungkan no_seat dengan koma
                $('#no_seat').text(noSeats);
          })
          .catch(error => {
              console.log('Error:', error.message);
          });
    }

    let get_qrcode = () => {
        fetch('http://127.0.0.1:4000/get-qr-image/'+id_booking, {method:'POST'})
            .then(response => {
                if (!response.ok) {
                throw new Error('Failed to fetch image');
                }
                return response.blob();
            })
            .then(blob => {
                // Mengubah blob menjadi URL objek
                const imageURL = URL.createObjectURL(blob);

                const imageElement = document.getElementById('qr-code');
                imageElement.src = imageURL;
                
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    


</script>



{%endblock%}
